{
  "presets": [
    "es2015",
  ],
  "plugins": [
    "transform-runtime",
    "transform-async-to-generator",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-decorators-legacy"
  ],
  "env": {
    "production": {
      "presets": [
        ["env", {
          "browsers": ["last 2 versions", "> 3%"],
          "modules": false,
          "useBuildIns": true
        }]
      ],
      "plugins": [
        "transform-runtime",
        "transform-async-to-generator",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-decorators-legacy"
      ]
    }
  },
}
